
/* CSS Reset complete */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img, 
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* CSS Reset complete */

/* colour theme */
:root {
  --red-color-1: #F55C47;
  --green-color-1: #9FE6A0;
  --green-color-2: #4AA96C;
  --grey-color-1: #564A4A;
  --black-color-1: #312f2f;

  --green-color-3: #47f59b;
  --red-color-2: #e69f9f;  
  --red-color-3: #a9524a;
  --grey-color-2: #4a564a;
  --white-color-1: #fdfdf3;
  --grey-color-3: #ccc;
  --white-color-2: #ffffff;
}

body{
  padding-bottom: min(30%,6rem)
}

.bottom_nav {
  background-color: var(--red-color-1);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.bottom_nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.bottom_nav ul li a svg {
  width: 30px;
  fill: var(--white-color-1);
  transition: .5s;
  transform-origin: 50% 50%;
}

.top_nav {
  background-color: var(--red-color-1);
  overflow: hidden;
  position: static;
  top: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.top_nav ul{
  position: relative;
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.top_nav ul a{
  color: var(--white-color-1);
  text-decoration: none;
  transition: .5s;
  transform-origin: 50% 50%;
}
.top_nav ul a:hover{
  color: var(--white-color-1);
  transform: scale(1.5);
}

/* Change the size of links on hover */
.bottom_nav ul li a svg:hover {
  transform: scale(1.2);
}

h1,h2,p,button,a{
  padding-left: max(5px,2%);
  padding-right: max(5px,2%);
}

.homepage {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: min(25%, 8rem);
}

.first_features{
  background-color: var(--grey-color-1);
  color: var(--white-color-1);
  padding-top: min(50%, 10rem);
  padding-bottom: min(50%, 10rem);
}

.first_features h1{
  font-weight: 900;
  font-size: 4.8rem;
  line-height: 0.1;
  display: inline-block;
  position: relative;
  padding-top: 1rem;
}
.first_features h1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 0.175rem;
  left: 0;
  bottom: 0;
  background: var(--white-color-1);
}

.first_features h1::after{
  transform: scale(0,1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}
.first_features h1:hover::after{
  transform: scale(1,1);
}

.first_features h2{
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 4rem;
  display: inline-block;
  padding-bottom: 1rem;
  color: var(--white-color-1);
}

button {
  position: relative;
  display:inline-block;
  padding: max(5px,.5%);
  margin: max(5px,2%);
  text-align:center;
  transition: all;
  transition: transform;
  transition-duration: 0.5s;
  transform-origin: 50% 50%;
}
/* Change the size of button on hover */
button:hover{
  cursor: pointer;
  transform: scale(1.1);
}
button:active{
  transform:scale(0.98);
}

.second_features,
.fifth_features{
  background-color: var(--white-color-1);
  color: var(--grey-color-1);
  padding-top: min(50%, 10rem);
  padding-bottom: min(50%, 10rem); 
}

.second_features button,
.fifth_features button{
  background-color: var(--white-color-1);
  color: var(--red-color-1);
  border:0.16em solid var(--red-color-1); 
}

.second_features button:hover,
.fifth_features button:hover{
  background-color: var(--red-color-1);
  color: var(--white-color-1);
}


.third_features{
  background-color: var(--red-color-1);
  color: var(--white-color-1);
  padding-top: min(50%, 10rem);
  padding-bottom: min(50%, 10rem);
}

.third_features button{
  background-color: var(--red-color-1);
  color: var(--white-color-1);
  border:0.16em solid var(--white-color-1);
}
.third_features button:hover{
  background-color: var(--white-color-1);
  color: var(--red-color-1);
}

.forth_features{
  background-color: var(--grey-color-1);
  color: var(--white-color-1);
  padding-top: min(50%, 10rem);
  padding-bottom: min(50%, 10rem) 
}

.forth_features button{
  background-color: var(--grey-color-1);
  color: var(--white-color-1);
  border:0.16em solid var(--white-color-1);
}
.forth_features button:hover{
  background-color: var(--white-color-1);
  color: var(--grey-color-1);
}

.biopage p{
  margin-top: min(5%, 2rem);
  margin-bottom: min(5%, 2rem);
}

.first_biopage{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first_biopage img{
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  padding: min(15%, 20rem)
}

.first_biopage{
  background-color: var(--white-color-1);
  color: var(--black-color-1);
  padding-bottom: min(50%, 10rem);
}

.second_biopage,
.fifth_biopage{
  background-color: var(--red-color-1);
  color: var(--white-color-1);
  padding-top: min(50%, 10rem);
  padding-bottom: min(50%, 10rem);
}

.third_biopage{
  background-color: var(--grey-color-1);
  color: var(--white-color-1);
  padding-top: min(50%, 10rem);
  padding-bottom: min(50%, 10rem);
}

.forth_biopage{
  background-color: var(--white-color-1);
  color: var(--black-color-1);
  padding-top: min(50%, 10rem);
  padding-bottom: min(50%, 10rem);
}
/* end of biopage */
/* begin of timeline/resume */
.works_body{
  color: var(--grey-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works_body{
  padding-top: max(5%,4rem); 
}

.work_title{
  background-color: var(--white-color-1);
}

.timeline{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--white-color-1);
}

.timecard {
  position: relative;
  display: flex;
  padding-top: min(20%, 5rem);
  padding-bottom: min(50%, 5rem); 
}

.timecard div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
/* End of work experince page */
/* begining of contact form page */
.form_body{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_body h1{
  color: var(--grey-color-1);
  margin-top: max(5%,4rem);
}

.action_page label{
  color: var(--grey-color-1); 
}

.contact_form_header{
  background-color: var(--white-color-1);
}
.container {
  position: relative;
  display: flex;
  border-radius: 5px;
  background-color: var(--white-color-1);
  padding: min(10%, 5rem);
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid var(--grey-color-3); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical;
  background-color: var(--white-color-1);
  color: var(--grey-color-1);
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: var(--white-color-1);
  color: var(--red-color-1);
  border:0.16em solid var(--red-color-1);
  cursor: pointer;
  transition-duration: 0.5s;
  transform-origin: 50% 50%;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: var(--red-color-1);
  color: var(--white-color-1);
  transform: scale(1.2);
}
.social_icons{
  display: flex;
  position: relative;
  justify-content: space-around;
}
.social_icons svg{
  margin: min(5%,2.5rem);
  fill: var(--red-color-1);
}

/* end contat form */
/* begin blog posts */

.blog_page{
  background-color: var(--white-color-1);
  color: var(--grey-color-1);
}

.blog_page h1{
  margin-top: max(5%,4rem);
}

.blog_page img{
  margin-top: max(5%,4rem);
  margin-bottom: max(2.5%,2rem); 
}
.blog_page button{
    background-color: var(--white-color-1);
    color: var(--red-color-1);
    border:0.16em solid var(--red-color-1); 
}

@media screen and (min-width:769px){
  .bottom_nav{
    display: none;
  }
  .blog_page img{
    max-width: min(50%,30rem);
    margin-left: min(5%,2rem);
  }
  .blog_page .second_blog_bit,
  .blog_page .third_blog_bit,
  .blog_page .forth_blog_bit,
  .blog_page .fifth_blog_bit{
    display: flex;
    align-items: center;
  }

  .blog_page div div{
    padding-left: min(5%,2.5rem);
  }
}
@media screen and (max-width:769px){
  .top_nav{
    display: none;
  
}
}
